[submodule "tikkun.io"]
	path = tikkun.io
	url = https://github.com/akivajgordon/tikkun.io
[submodule "en_ult"]
	path = en_ult
	url = https://git.door43.org/unfoldingWord/en_ult.git
[submodule "hbo_uhb"]
	path = hbo_uhb
	url = https://git.door43.org/unfoldingWord/hbo_uhb.git
