@import url('./common.css');

/*****************************************
  Adapted from `tikkun.io/css/master.css`
 *****************************************/

.tikkun-book {
  --scale: 0.75;
  --letter-spacing: -0.05em;
  --word-spacing: 0.25em;
  --line-height: calc(45pt * var(--scale));
  --verse-ref-width: calc(60pt * var(--scale));
  --verse-ref-gap: calc(24pt * var(--scale));
  --page-gap: calc(2 * var(--line-height));
  --chapter-number-opacity: 0.5;
  --verse-number-opacity: 0.4;
  --ketiv-font: "Shlomo Stam", serif;
  --kri-font: "Shlomo", serif;
  --tl-font: "Bitter Hebrew", serif;
  --en-font: "Amstelvar", serif;
  font-size: 1.5em;
  height: 100vh;
  position: relative; /* so we can measure each page's offsetTop */
  overflow-anchor: none; /* we change the scroll position ourselves */
  overflow-x: hidden;
}

/***************************************
  Adapted from `tikkun.io/css/page.css`
 ***************************************/

.placeholder-tikkun-page {
  width: 100%;
  /* `--numLines` is set by its parent `.tikkun-book`, see `book.ts` */
  height: calc(var(--numLines) * var(--line-height) + var(--page-gap));
}

.tikkun-page {
  display: flex;
  justify-content: center;
  transform-origin: top center;
  gap: calc(2 * var(--verse-ref-gap));
  margin-bottom: var(--page-gap);
}
.tikkun-page.is-reversed {
  flex-direction: row-reverse;
}

.page {
  flex: none;
  display: none; /* not shown by default - if shown, display: flex */
  align-items: flex-start;
  gap: var(--verse-ref-gap);
}
.page.is-reversed {
  flex-direction: row-reverse;
}

.page table {
  flex: none;
  table-layout: fixed;
  border-spacing: 0;
}

.page td {
  padding: 0;
}

.line {
  position: relative;
  height: var(--line-height);
  line-height: var(--line-height);
  text-align: justify;
  text-align-last: justify;
  display: flex;
  justify-content: space-between;
  gap: 5em;
}
.line.is-petucha {
  text-align: start;
  text-align-last: start;
}
.verse-ref .line {
  text-align: start;
  text-align-last: start;
  justify-content: flex-start;
  gap: var(--word-spacing);
}
.page.is-reversed .verse-ref .line {
  justify-content: flex-end;
}

.column {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1ch;
  min-width: 18ch; /* HACK: This provides the most gap possible for עשרת בני המן in מגילת אסתר without compromising the layout for האזינו */
}

.column.is-two-column {
  /*HACK: this rule is a special hack for פרשת האזינו
    to properly display the columns:
        a) with space between the columns
        b) without the column line breaking into two
  */
  width: 12em;
}

.fragment {
  width: 100%;
}

.fragment.is-setuma {
  width: auto;
}

.verse-ref {
  width: var(--verse-ref-width);
  white-space: nowrap;
  color: hsla(0, 0%, 0%, var(--verse-number-opacity));
  letter-spacing: 0;
}

/*********************************************
  Formatting for the different types of pages
 *********************************************/

.ketiv {
  order: 0;
  font-family: var(--ketiv-font);
  font-size: calc(25pt * var(--scale));
}
.kri {
  order: 1;
  font-family: var(--kri-font);
  font-size: calc(25pt * var(--scale));
}
.tl {
  order: 2;
  font-family: var(--tl-font);
  font-size: calc(18pt * var(--scale));
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}
.en {
  order: 3;
  font-family: var(--en-font);
  font-size: calc(18pt * var(--scale));
  letter-spacing: calc(0.5 * var(--letter-spacing));
}

.tikkun-page.show-ketiv .ketiv {
  display: flex;
}
.tikkun-page.show-kri .kri {
  display: flex;
}
.tikkun-page.show-tl .tl {
  display: flex;
}
.tikkun-page.show-en .en {
  display: flex;
}

/********************
  Special formatting
 ********************/

.ketiv-kri {
  position: relative;
}

.ketiv-kri::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 7px);
  height: calc(100% + 10px);
  border: 1px dashed rgba(0, 0, 0, 75%);
  border-radius: 2px;
  z-index: -1;
}

.implied-word {
  color: #999;
}

.verse-ref .chapter-number {
  color: hsla(0, 0%, 0%, var(--chapter-number-opacity));
}

.verse-ref .verse-number {
  font-size: 0.7em;
  vertical-align: middle;
}
