@import url('./common.css');

/*****************************************
  Adapted from `tikkun.io/css/master.css`
 *****************************************/

.tikkun-book {
  --scale: 1;
  --letter-spacing: -0.05em;
  --word-spacing: 0.25em;
  padding-top: 1em;
  padding-bottom: 5em;
  font-size: 1.5em;
  overflow-x: hidden;
}

/***************************************
  Adapted from `tikkun.io/css/page.css`
 ***************************************/

.tikkun-page {
  display: flex;
  justify-content: center;
  transform-origin: top center;
  gap: 32px;
}

.tikkun-page.is-reversed {
  flex-direction: row-reverse;
}

.tikkun-page table {
  flex: none;
  table-layout: fixed;
  border-spacing: 0;
}

.tikkun-page td {
  padding: 0;
}

.line {
  position: relative;
  text-align: justify;
  text-align-last: justify;
  line-height: calc(33.75pt * var(--scale));
  display: flex;
  justify-content: space-between;
  gap: 5em;
}

.line.is-petucha {
  text-align: start;
}

.column {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 1ch;
  min-width: 18ch; /* HACK: This provides the most gap possible for עשרת בני המן in מגילת אסתר without compromising the layout for האזינו */
}

.column.is-two-column {
  /*HACK: this rule is a special hack for פרשת האזינו
    to properly display the columns:
        a) with space between the columns
        b) without the column line breaking into two
  */
  width: 12em;
}

.fragment {
  width: 100%;
}

.fragment.is-setuma {
  width: auto;
}

.verse-ref {
  position: absolute;
  right: -6ch;
  font-family: sans-serif;
  font-size: 0.8em;
  color: hsla(0, 0%, 0%, 0.35);

  -webkit-user-select: none;
  user-select: none;
}

/*********************************************
  Formatting for the different types of pages
 *********************************************/

.ketiv {
  display: none;
  font-family: "Shlomo Stam", serif;
  font-size: calc(18.75pt * var(--scale));
}
.kri {
  display: none;
  font-family: "Shlomo", serif;
  font-size: calc(18.75pt * var(--scale));
}
.tl {
  display: none;
  font-family: "Bitter Hebrew", serif;
  font-size: calc(13.5pt * var(--scale));
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}
.en {
  display: none;
  font-family: "Amstelvar", serif;
  font-size: calc(13.5pt * var(--scale));
  letter-spacing: calc(0.5 * var(--letter-spacing));
}

.tikkun-page.show-ketiv .ketiv {
  display: table;
}
.tikkun-page.show-kri .kri {
  display: table;
}
.tikkun-page.show-tl .tl {
  display: table;
}
.tikkun-page.show-en .en {
  display: table;
}

/********************
  Special formatting
 ********************/

.ketiv-kri {
  position: relative;
}

.ketiv-kri::after {
  content: "";
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 7px);
  height: calc(100% + 10px);
  border: 1px dashed rgba(0, 0, 0, 75%);
  border-radius: 2px;
  z-index: -1;
}

.implied-word {
  color: #999;
}
